* {
  margin: 0;
}

.landing {
  background-image: url("./imghotel/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 45%;
  padding-bottom: 5rem;
  height: 800px;
  width: 100%;
}
